body {
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #efefef;
}


/* General */

.container-fluid {
    padding: 0;
    background-color: #fff;
}

h3 {
    font-size: 1.3rem;
}

p {
    color: hsl(201, 11%, 66%);
}

.btn {
    border-radius: 1.5rem;
    margin: 2rem;
    padding: 0.5rem 1.7rem;
}

.btn:focus {
    box-shadow: none !important;
}

.btn--green {
    background-color: #2eb086;
    box-shadow: 0.1rem 0.1rem 0.3rem #57bb9b;
}

.btn--green:hover {
    background-color: rgba(46, 176, 134, 0.7);
}

.btn--blue {
    background-color: #548cff;
    box-shadow: 0.1rem 0.1rem 0.3rem #6597fc;
}

.btn--blue:hover {
    background-color: rgba(84, 140, 255, 0.7);
}

.hover:hover {
    color: hsl(171, 66%, 44%) !important;
    cursor: pointer;
}

.w--400 {
    width: 40%;
}

.w--700 {
    width: 70%;
}

.w--80 {
    width: 80%;
}

.mt--8 {
    margin-top: 8rem;
}

.msm--8 {
    margin-left: -8rem;
}

.ps--10 {
    padding-left: 10rem;
}

.fab {
    font-size: 1.5rem;
    padding-left: 1.2rem;
}


/* Header */

header {
    background-image: url(../../images/bg-header-desktop.png);
}

#logo {
    margin: 5rem 0;
    width: 5rem;
}


/* Sections */

.monitor {
    width: 50rem;
}


/* Footer */

footer {
    background-color: #efefef;
}

#footer--logo {
    width: 3rem;
}


/* Frontend Mentor Default */

.attribution {
    font-size: 11px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


/* -- Media Query: Screen Size Smaller Than 77rem / 1232px -- */

@media only screen and (max-width: 77rem) {
    .devices {
        width: 43rem;
    }
    .mt--2 {
        margin-top: 1rem;
    }
    .ps--7 {
        padding-left: 7rem;
    }
    .monitor {
        width: 40rem;
    }
    .company--logo {
        width: 12rem;
    }
}


/* -- Media Query: Screen Size Smaller Than 62rem / 992px -- */

@media only screen and (max-width: 62rem) {
    .msm--8 {
        margin-left: 0rem;
    }
    .monitor {
        width: 35rem;
    }
    .ps--0 {
        padding-left: 0;
    }
    .devices {
        width: 38rem;
    }
    .w--400 {
        padding: 0 2rem;
        width: 100%;
    }
}


/* -- Media Query: Screen Size Smaller Than 40rem / 639px -- */

@media only screen and (max-width: 40rem) {
    #logo {
        width: 7rem;
    }
    h1 {
        font-size: 2.2rem;
        padding: 0 1rem;
    }
    h2 {
        font-size: 1.8rem;
        padding: 0 1rem;
    }
    .btn {
        margin-bottom: 0rem;
        width: 70%;
    }
    .monitor {
        width: 20rem;
    }
    .devices {
        width: 20rem;
    }
    .w--700 {
        padding: 0 2rem;
        width: 100%;
    }
}


/* -- Media Query: Screen Size Smaller Than 36rem / 576px -- */

@media only screen and (max-width: 36rem) {
    .company--logo {
        width: 8rem;
        margin: 0 0 5rem;
    }
}